.project__1 {
  width: 90%;
  margin: auto;
  padding: 30px 15px;
  border-radius: 10px;
  background: black;
  cursor: pointer;
  color: white;
  transition: all 0.5s ease;
}

.project_title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 20px;
  font-size: 30px;
}

.single_project {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.reverse_column_direction {
  display: flex;
  flex-direction: row-reverse;
}

.img_slider {
  width: 50%;
}

.project_dis {
  width: 50%;
}

.project_dis > h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 10px;
  color: crimson;
}

.project_dis > p {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}
.source_live {
  display: flex;
  align-items: center;
  gap: 20px;
}

.source_live .source_git {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  background: crimson;
  border: 2px solid crimson;
  color: white;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.source_live .source_git:hover {
  background: transparent;
  color: crimson;
  cursor: pointer;
}

.icon_style {
  font-size: 18px;
}

/* responsive code  */

@media (max-width: 1024px) {
  .project__1 {
    width: 95%;
    padding: 10px;
  }
  .project_dis > h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .project_dis > p {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 12px;
  }

  .source_live .source_git {
    font-size: 15px;
  }
}

/* tablet   */

@media (max-width: 768px) {
  .single_project {
    flex-direction: column;
  }

  .img_slider {
    width: 100%;
  }

  .project_dis {
    width: 100%;
  }

  .source_live {
    width: 290px;
    margin: auto;
  }

  .source_live .source_git {
    margin: auto;
  }
}

/* mobile  */

@media (max-width: 425px) {
  .project__1 {
    width: 100%;
  }

  .project_title {
    font-size: 21px;
  }
}
